@(productForm: Form[Product])(implicit flash: Flash)
@import helper._
@import helper.twittetBootstrap._

@main(Messges("products.form")) {
    <h2>@Messages("products.form)</h2>

    @helper.form(action = routes.Products.save()) {
        <fieldset>
            <legend>
                @Messages("products.details", Messages("products.new"))
            </legend>
            @helper.inputText(productForm("ean"))
            @helper.inputText(productForm("name"))
            @helper.textarea(productForm("description"))
        </fieldset>
        <p><input type="submit" class="btn primery"
            value='@Messages("products.new.submit")'></p>
    }
}